<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Selenium" parallel="methods" thread-count="4">
    <test name="Demo Test">
        <classes>
            <class name="pom.tests.douglas.LoginToAccountTest"/>
            <class name="pom.tests.douglas.PutProductToCartTest"/>
            <class name="pom.tests.douglas.ChooseOfSampleTest"/>
            <class name="pom.tests.douglas.ChooseOfWrappingTest"/>
            <class name="pom.tests.douglas.ChooseOfGiftCardTest"/>
            <class name="pom.tests.douglas.CheckOutTest"/>
        </classes>
    </test>
</suite>